.RPclient{
    width: 400px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: lightgrey ;
  }

  .ringplan{
    background-image: url(./img/RingPlanheader_2_600x.png);
    background-size: cover;
    height: auto;
    width: 600px;
    align-self: left;
  }

  .RPheader{
    background-image: url(./css/img/rpclient-header.png);
    height: 600px;
    background-repeat: no-repeat;
    background-size: contain;

  }

  .RPhspace{
    height: 85px;
  }

  .RPbspace{
    height: 400px;
  }

  .RPinnercontainer{
    width: 360px;
    margin: 0px;
  }

  .RPTitle{
    color: white;
    text-align: center;
    margin-bottom: 25px;
    width: auto;
  }

  .RPlogin{
    height: 350px;
    text-align: center;
    background-color: white;
    padding: 5px;
    vertical-align: text-top;
  }

  .RPloginbuttons{
    height:130px;
    text-align: center;
    vertical-align: center;
  }

  .RPloginbutton{
    height:120px;
    width: 300px;
    text-align: center;

    background-image: url(./css/img/RingPlan\ ZTelco\ cobrand\ 2-01.png);
    background-size: 250px; ;
    background-position: center;
    background-repeat: no-repeat;
    background-color: lightgray;
  }

  .RPmanualbutton{
    height: 120px;
    width: 300px;
    text-align: center;
    vertical-align: center;
    color: black;
    
  }

  .RPclosebutton{
    text-align: right;
    align-self: right;
    width: 300px;
    margin-right: 10px;
  }

  .RPlogout{
    margin-right: 15px;
  }