@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.header-section {
  display: flex;
  justify-content: center;
  width: 100%;
  background: linear-gradient(97.94deg, #005fa5 28.17%, #00a2dd 99.4%);
}

.header-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 3rem;
  padding-left: 2rem;
  gap: 1.5rem;
}

.header-content h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding-left: 10px;
}

.header-img-wrapper {
  width: 50%;
}

.header-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#main h1 {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #015fa5;
}

#main {
  padding: 3rem 0;
}

#login-extension {
  gap: 1.5rem;
  flex-direction: column;
  display: flex;
  margin: 0px auto;
  max-width: 320px;
  margin-top: 4.5rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-wrapper input {
  outline: none;
  border: none;
  background: #ffffff;
  border: 1px solid #c6c6c6;
  border-radius: 4px;
  padding: 12px 16px;
}
.input-wrapper label {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #181818;
}

#btn-wrapper {
  display: flex;
  justify-content: center;
}

#btn-wrapper button {
  background: linear-gradient(93.05deg, #6dce45 12.41%, #0199d1 84%);
  border-radius: 15px;
  outline: none;
  border: none;
  color: #ffffff;
  width: 170px;
  padding: 14px 0px;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.1px;
  cursor: pointer;
}

@media only screen and (max-width: 1020px) {
  .header-content h1 {
    font-size: 35px;
  }
}

@media only screen and (max-width: 764px) {
  .header-img-wrapper {
    display: none;
  }
  .header-content {
    width: 100%;
  }
}

@media only screen and (max-width: 420px) {
  .header-section {
    background: white;
  }
  .header-content h1 {
    font-size: 30px;
    color: #0061a3;
  }
  .header-content {
    padding-bottom: 1rem;
    padding-left: 1rem;
  }

  #main {
    padding: 3rem 1.5rem;
  }

  #main h1 {
    font-size: 20px;
    line-height: 30px;
  }
}
